<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>Index - Messages</h1>
    <a href="/new">Create a new message!</a>
    <% messages.forEach((user) => { %>
    <div>
      <h3><%= user.username %></h3>
      <p><%= user.message %></p>
      <p><%= user.createdAt %></p>
      <a href="/<%= user.username %>/<%= encodeURIComponent(user.message) %>">Open</a>
    </div>
    <% }) %>
  </body>
</html>
